<h2>Ajouter un Client</h2>
<br><br>

<form [formGroup]="form">
    <mat-form-field class="w-full" appearance="outline">
        <mat-label>Organisation :</mat-label>
        <input matInput type="text" name="organisation" formControlName="organisation" required>
        <mat-error *ngIf="form.controls['organisation'].hasError('required')">
            Organisation est <strong>obligatoire</strong>
        </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field class="w-full" appearance="outline">
        <mat-label>Nom Commercial :</mat-label>
        <input matInput type="text" onkeypress="return /[a-z]/i.test(event.key)" name="tradeName"
            formControlName="tradeName" required>
        <mat-error *ngIf="form.controls['tradeName'].hasError('required')">
            Nom Commercial est <strong>obligatoire</strong>
        </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field class="w-full" appearance="outline">
        <mat-label>Adresse :</mat-label>
        <input matInput type="text" name="address" formControlName="address" required>
        <mat-error *ngIf="form.controls['address'].hasError('required')">
            Addresse est <strong>obligatoire</strong>
        </mat-error>
    </mat-form-field>
    <br>
    
    <mat-form-field class="w-full" appearance="outline">
        <mat-label>Secteur :</mat-label>
        <input matInput type="text" name="sector" formControlName="sector" required>
        <mat-error *ngIf="form.controls['sector'].hasError('required')">
            Secteur est <strong>obligatoire</strong>
        </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field class="w-full" appearance="outline">
        <mat-label>Manager Commercial :</mat-label>
        <input matInput type="text" name="accountManager" formControlName="accountManager" required>
        <mat-error *ngIf="form.controls['accountManager'].hasError('required')">
            Manager Commercial est <strong>obligatoire</strong>
        </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field class="w-full" appearance="outline">
        <mat-label>Personne à Contacter :</mat-label>
        <input matInput type="text" name="firstContactUser" formControlName="firstContactUser" required>
        <mat-error *ngIf="form.controls['firstContactUser'].hasError('required')">
            Personne à Contacter est <strong>obligatoire</strong>
        </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field class="w-full" appearance="outline">
        <mat-label>Mail :</mat-label>
        <input matInput type="email" name="firstContactEmail" formControlName="firstContactEmail" required>
        <mat-error *ngIf="form.controls['firstContactEmail'].hasError('required')">
            Mail est <strong>obligatoire</strong>
        </mat-error>
        <mat-error *ngIf="form.controls['firstContactEmail'].hasError('email')">
            Mail doit être valide
        </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field class="w-full" appearance="outline">
        <mat-label>Téléphone :</mat-label>
        <input matInput type="number" name="firstContactPhone" formControlName="firstContactPhone" required>
        <mat-error *ngIf="form.controls['firstContactPhone'].hasError('required')">
            Téléphone est <strong>obligatoire</strong>
        </mat-error>
        <mat-error *ngIf="form.controls['firstContactPhone'].hasError('minlength')">
            phone doit avoir au minimum 8 chiffres
        </mat-error>
        <mat-error *ngIf="form.controls['firstContactPhone'].hasError('maxlength')">
            phone doit avoir au maximum 8 chiffres
        </mat-error>
    </mat-form-field>
    <br>
</form>
<br><br>

<button class="mat-raised-button bg-red-600 hover:bg-red-600 text-white" (click)="close()">Fermer</button>
<button class="mat-raised-button bg-amber-700 hover:bg-amber-700 text-white" (click)="save()"
    [disabled]="form.invalid">Enregistrer</button>