<h2>Ajouter/Modifier Client</h2>
<br><br>
<mat-dialog-content>
    <table [formGroup]='form'>
        <tr>
            <td>
                <label>Organisation : </label>
            </td>
            <td>
                <input class="inputborder" type="text" formControlName="firstform">
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label>Raison Sociale : </label>
            </td>
            <td>
                <input class="inputborder" formControlName="firstform">
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label>Adresse : </label>
            </td>
            <td>
                <input class="inputborder" formControlName="firstform">
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label>Domaine : </label>
            </td>
            <td>
                <input class="inputborder" formControlName="firstform">
            </td>
        </tr>
        <br>
    </table>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button bg-red-600 hover:bg-red-600 text-white" (click)="close()">Fermer</button>
    <button class="mat-raised-button bg-amber-700 hover:bg-amber-700 text-white" (click)="save()">Enregistrer</button>
</mat-dialog-actions>