#tableconfiguration1 {
    border: 3px solid black;
    text-align: center;
    margin: auto;
}
#tableconfiguration2 {
    border: 3px solid white;
    text-align: center;
    margin: auto;
}
.headtdconfiguration {
    text-align: left;
    border: 3px solid black;
    font-weight: bold;
}
#tdconfiguration {
    border: 3px solid white;
}
img {
    text-align: center;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 70px;
}
