<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">
        <div>
            <table class="tableconfiguration1" style="width: 98%;">
                <tr>
                    <td class="headtdconfiguration">
                        Contact
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="w-100" src="assets/Focus_Logo-01.png" alt="Logo Focus">
                    </td>
                </tr>
                <table class="tableconfiguration2" style="margin-bottom: 20px;">
                    <tr>
                        <td class="bg-gray-400 tdconfiguration">
                            Karim GHANDRI<br>
                            Directeur Général
                        </td>
                        <td class="bg-gray-300 tdconfiguration">
                            Email : karim.ghandri@focus-corporation.com<br>
                            Tél : (+216) 71 166 311<br>
                            Fax : (+216) 71 166 888
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-gray-400 tdconfiguration">
                            Amel Magouri<br>
                            Cloud Product Manager
                        </td>
                        <td class="bg-gray-300 tdconfiguration">
                            Email : amel.magouri@focus-corporation.com<br>
                            Tél : (+216) 29 687 621<br>
                            Fax : (+216) 71 166 888
                        </td>
                    </tr>
                </table>
                <div>
                    <p>Adresse : Imm FOCUS, Rue, 1 Lac Malären, Tunis 1053</p>
                    <p>Tél : (+216) 71 166 311 | Fax : (+216) 71 166 888 | Email : <span
                            style="color: #008;">contact@focus-corporation.com</span></p>
                    <p style="margin-bottom: 50px;">Site web : <span style="color: #008;"><a
                                href="http://www.focus-corporation.com/"
                                target="_blank">www.focus-corporation.com</a></span></p>
                </div>
                <tr>
                    <td class="tableconfiguration1" style="padding-top: 20px;"></td>
                </tr>
            </table>
        </div>
    </div>
</div>