<div class="header mat-accent-bg h-20 titlebackgroundcolor rounded" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon class="material-icons text-white mx-7">edit</mat-icon>
    <h2 class="text-white font-bold text-2xl">Modifier un Contrat</h2>
</div>
<br>
<br>

<form fxLayout="column" fxLayoutAlign="start" [formGroup]="form">
    <mat-form-field class="w-full" appearance="outline">
        <mat-label class="font-bold">Titre :</mat-label>
        <input matInput type="text" name="title" formControlName="title" required>
        <mat-error *ngIf="form.controls['title'].hasError('required')">
            Titre est <strong>obligatoire</strong>
        </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field class="w-full" appearance="outline">
        <mat-label class="font-bold">Client :</mat-label>
        <mat-select name="clientOrganisation" formControlName="clientOrganisation" required>
            <mat-option *ngFor="let client of clients" value="{{client.organisation}}">{{client.organisation}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['clientOrganisation'].hasError('required')">
            Client est <strong>obligatoire</strong>
        </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field class="w-full" appearance="outline">
        <mat-label class="font-bold">Manager Commercial :</mat-label>
        <mat-select name="commercialName" formControlName="commercialName" required>
            <mat-option *ngFor="let user of users" value="{{user.name}}">{{user.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['commercialName'].hasError('required')">
            Manager Commercial est <strong>obligatoire</strong>
        </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field class="w-full" appearance="outline">
        <mat-label class="font-bold">Description :</mat-label>
        <input matInput type="text" name="description" formControlName="description" required>
        <mat-error *ngIf="form.controls['description'].hasError('required')">
            Description est <strong>obligatoire</strong>
        </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field class="w-full" appearance="outline">
        <mat-label class="font-bold">Type de Contrat :</mat-label>
        <mat-select name="type" formControlName="type" required>
            <mat-option value="Maintenance">Maintenance</mat-option>
            <mat-option value="Cloud">Cloud</mat-option>
            <mat-option value="Assistance Technique">Assistance Technique</mat-option>
        </mat-select>       
        <mat-error *ngIf="form.controls['type'].hasError('required')">
            Type de Contrat est <strong>obligatoire</strong>
        </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field class="w-full" appearance="outline">
        <mat-label class="font-bold">Date Début :</mat-label>
        <input matInput [matDatepicker]="pickerD" name="start_date" formControlName="start_date" required />
        <mat-datepicker-toggle matSuffix [for]="pickerD"></mat-datepicker-toggle>
        <mat-datepicker #pickerD></mat-datepicker>
        <mat-error *ngIf="form.controls['start_date'].hasError('required')">
            Date Début est <strong>obligatoire</strong>
        </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field class="w-full" appearance="outline">
        <mat-label class="font-bold">Date Fin :</mat-label>
        <input matInput [matDatepicker]="pickerF" name="end_date" formControlName="end_date" required />
        <mat-datepicker-toggle matSuffix [for]="pickerF"></mat-datepicker-toggle>
        <mat-datepicker #pickerF></mat-datepicker>
        <mat-error *ngIf="form.controls['end_date'].hasError('required')">
            Date Fin est <strong>obligatoire</strong>
        </mat-error>
    </mat-form-field>
    <br>
    
<div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="center" fxFlex="100">
    <button mat-raised-button class="text-white font-bold px-4 rounded" color="accent" (click)="save()"
        [disabled]="form.invalid">Enregistrer</button>
    <button class="mat-raised-button bg-red-600 hover:bg-red-600 text-white font-bold px-4 rounded" (click)="close()">Fermer</button>
</div>
</form>