.tableconfig {
    width: 100%;
    border-spacing: 10px 5px;
    border-collapse: separate;
}
#addclientbutton {
    border: 1px solid black;
}
#removeclientbutton {
    border: 1px solid black;
}
.mat-paginator {
    display: flex;
    justify-content: flex-end;
}
#color {
    background-color: #eff6ff;
    height: 100%;
}
