#addclientbutton {
    border: 1px solid black;
}
#removeclientbutton {
    border: 1px solid black;
}
.mat-paginator {
    display: flex;
    justify-content: flex-end;
}
#color {
    background-color: #eff6ff;
    height: 100%;
}
