.tableconfig {
    width: 100%;
    border-spacing: 10px 5px;
    border-collapse: separate;
}
#tableconfiguration1 {
    text-align: center;
    margin: auto;
}
.tableconfiguration2 {
    text-align: center;
    margin: auto;
}
.headtdconfiguration {
    text-align: left;
    font-weight: bold;
}
.informationtd {
    text-align: left;
    padding-left: 10px;
}
#addclientbutton {
    border: 1px solid black;
}
#removeclientbutton {
    border: 1px solid black;
}
.demo-table {
    width: 100%;
}
.demo-button-container {
    padding-bottom: 16px;
}
.demo-button + .demo-button {
    margin-left: 8px;
}
.tdpadding {
    padding-left: 1%;
    padding-right: 1%;
}
#tdfullborder {
    border: 3px solid black;
    margin-right: 1%;
    margin-left: 1%;
}
#divconfiguration {
    padding-bottom: 5%;
}
.mat-paginator {
    display: flex;
    justify-content: flex-end;
}
.test {
    float: left;
}
.test1 {
    display: flex;
    justify-content: center;
}
.test2 {
    float: right;
}
#color {
    background-color: #eff6ff;
    height: 100%;
}
