<div class="flex flex-col flex-auto min-w-0 w-screen" id="color">
    <div class="flex-auto p-6 sm:p-10" id="color">
        <div class="gap-2" fxLayout="column" fxLayoutAlign="center
            center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
            <div class="w-full mt-2 mb-2 bgSearch rounded d-flex justify-content-center">
                <mat-form-field appearance="fill" floatLabel="always" class="w-50 mt-3 mb-2">       
                    <input matInput placeholder="Recherche" (keyup)="applyFilter($event)" />
                    <mat-icon
                    class="float-left mr-2 sm:ml-8"
                    [svgIcon]="'heroicons_outline:search'"></mat-icon>
                </mat-form-field>
            </div>
          
            <div>
            </div>
    </div>
</div>