<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">
        <div>
            <table class="tableconfiguration1" style="width: 98%;">
                <tr>
                    <td class="headtdconfiguration" colspan="4">
                        Profile
                    </td>
                </tr>
                <br>
                <tr>
                    <td colspan="4">
                        <div class="bg-card" id="tdfullborder">
                            <div class="bg-gray-100 flex flex-auto items-center min-w-0">
                                <div class="flex flex-col min-w-0 ml-4">
                                    <ng-container>
                                        <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate"
                                            id="divconfiguration">
                                            Bienvenue <span class="namecolor">Brian</span> dans votre espace client !</div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <br>
                <tr>
                    <td class="informationtd tdbold ">
                        Client : 
                    </td>
                    <td class="informationtd ">
                        Orange
                    </td>
                    <td class="informationtd tdbold ">
                        Adresse :
                    </td>
                    <td class="informationtd ">
                        Immeuble Orange, Centre Urbain Nord, 1003 Tunis
                    </td>
                </tr>
                <tr>
                    <td class="informationtd tdbold ">
                        Support : 
                    </td>
                    <td class="informationtd ">
                        "type de support"
                    </td>
                    <td class="informationtd tdbold ">
                        Email :
                    </td>
                    <td class="informationtd ">
                        support@Orange.tn
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td colspan="4" class="tdpadding">                      
                        <app-userlist></app-userlist>
                    </td>                
                </tr>
                <br>
                <tr>
                    <td class="tableconfiguration1" style="padding-top: 20px;" colspan="4"></td>
                </tr>
            </table>
        </div>
    </div>
</div>