<h2>Ajouter/Modifier Utilisateur</h2>
<br><br>

<mat-dialog-content>
    <table [formGroup]='form'>
        <tr>
            <td>
                <label>Nom : </label>
            </td>
            <td>
                <input class="inputborder" type="text" formControlName="firstform">
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label>Profession : </label>
            </td>
            <td>
                <input class="inputborder" formControlName="firstform">
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label>Mail : </label>
            </td>
            <td>
                <input class="inputborder" formControlName="firstform">
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label>Téléphone : </label>
            </td>
            <td>
                <input class="inputborder" formControlName="firstform">
            </td>
        </tr>
        <br>
    </table>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button bg-red-600 hover:bg-red-600 text-white" (click)="close()">Fermer</button>
    <button class="mat-raised-button bg-amber-700 hover:bg-amber-700 text-white" (click)="save()">Enregistrer</button>
</mat-dialog-actions>