<h2>Ajouter/Modifier Contrat</h2>
<br><br>

<mat-dialog-content>
    <table [formGroup]='form'>
        <tr>
            <td>
                <label>Nom : </label>
            </td>
            <td>
                <input class="inputborder" type="text" formControlName="firstform">
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label>Type : </label>
            </td>
            <td>
                <mat-select class="inputborder" [(value)]="selected" name="type">
                    <mat-option value="Veuillez choisir un type">Veuillez choisir un type</mat-option>
                    <mat-option value="Support et maintenance">Support et maintenance</mat-option>
                    <mat-option value="Cloud">Cloud</mat-option>
                </mat-select>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label>Durée du Contrat : </label>
            </td>
            <td>
                <mat-form-field class="w-full">
                    <mat-date-range-input [rangePicker]="picker">
                      <input matStartDate placeholder="Start date" formControlName="firstform">
                      <input matEndDate placeholder="End date" formControlName="firstform">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label>Commercial : </label>
            </td>
            <td>
                <input class="inputborder" type="text" formControlName="firstform">
            </td>
        </tr>
        <br>
    </table>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button bg-red-600 hover:bg-red-600 text-white" (click)="close()">Fermer</button>
    <button class="mat-raised-button bg-amber-700 hover:bg-amber-700 text-white" (click)="save()">Enregistrer</button>
</mat-dialog-actions>