<h2>Ajouter Utilisateur</h2>
<br><br>
<mat-dialog-content>
    <table>
        <tr>
            <td>
                <label>UID : </label>
            </td>
            <td>
                <input class="inputborder" type="text" required [(ngModel)]="user.employeeID" name="employeeID">
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label>Nom : </label>
            </td>
            <td>
                <input class="inputborder" type="text" required [(ngModel)]="user.last_name" name="last_name">
            </td>
        </tr>
        <br>
        <br>
        <tr>
            <td>
                <label>Deuxième nom : </label>
            </td>
            <td>
                <input class="inputborder" type="text" [(ngModel)]="user.middle_name" name="middle_name">
            </td>
        </tr>
        <br>
        <br>
        <tr>
            <td>
                <label>Prénom : </label>
            </td>
            <td>
                <input class="inputborder" type="text" required [(ngModel)]="user.first_name" name="first_name">
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label>Nom d'utilisateur : </label>
            </td>
            <td>
                <input class="inputborder" type="text" required [(ngModel)]="user.loginName" name="loginName">
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label>Mot de passe : </label>
            </td>
            <td>
                <input class="inputborder" type="password" required [(ngModel)]="user.userpassword" name="userpassword">
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label>Profession : </label>
            </td>
            <td>
                <input class="inputborder" [(ngModel)]="user.jobTitle" name="jobTitle">
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label>Mail : </label>
            </td>
            <td>
                <input class="inputborder" required [(ngModel)]="user.emailid" name="emailid">
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label>Domaine : </label>
            </td>
            <td>
                <input class="inputborder" [(ngModel)]="user.domain_Name" name="domain_Name">
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label>Fix : </label>
            </td>
            <td>
                <input class="inputborder" [(ngModel)]="user.phone" name="phone">
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label>Téléphone : </label>
            </td>
            <td>
                <input class="inputborder" [(ngModel)]="user.mobile" name="mobile">
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label>Entreprise : </label>
            </td>
            <td>
                <input class="inputborder" [(ngModel)]="user.account" name="account">
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label>Site : </label>
            </td>
            <td>
                <input class="inputborder" [(ngModel)]="user.site" name="site">
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <label>Rôle : </label>
            </td>
            <td>
                <mat-select class="inputborder" [(value)]="selected" [(ngModel)]="user.roles" name="roles">
                    <mat-option value="Veuillez choisir un rôle">Veuillez choisir un type</mat-option>
                    <mat-option value="admin">Admin</mat-option>
                    <mat-option value="user">User</mat-option>
                </mat-select>
            </td>
        </tr>
        <br>
    </table>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button bg-red-600 hover:bg-red-600 text-white" (click)="close()">Fermer</button>
    <button class="mat-raised-button bg-amber-700 hover:bg-amber-700 text-white" (click)="save()">Enregistrer</button>
</mat-dialog-actions>