<div class="modal-header">
    <!--h4 class="modal-title" id="modal-basic-title">{{item.name}}</h4-->

    <button type="button" class="close" aria-label="Close" (click)="closeModal()">

        <span aria-hidden="true">×</span>

    </button>

</div>
<div *ngIf="item != true">

    <div class="modal-body">
        <div class="flex flex-col">
            <img [src]="item.base64Img" class="object-cover" allowFullScreen />
        </div>
    </div>

    <div class="flex items-center mt-3 -mx-3 mb-3">
        <button class="w-full rounded-t-none" mat-flat-button [color]="'primary'" (click)="delete()">
            <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
        </button>
        <button mat-icon-button class="w-full rounded-t-none" mat-flat-button [color]="'primary'" (click)="Pick()">
            <mat-icon *ngIf="!item.picked" svgIcon="heroicons_outline:check"></mat-icon>
            <mat-icon *ngIf="item.picked" svgIcon="heroicons_outline:x"></mat-icon>
        </button>

    </div>
</div>
<div *ngIf="item === true">

    <div class="modal-body">
        <div class="file-upload">

            <div class="ratio ratio-16x9">
                <input type="file" class="file-input" (change)="onFileSelected($event)" accept="image/png" #fileUpload>
            </div>
        </div>
        <div class="progress">

            <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress" *ngIf="uploadProgress">

            </mat-progress-bar>

            <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever</mat-icon>

        </div>
    </div>

    <div class="modal-footer">

        <button type="button" class="btn btn-outline-dark" (click)="upload()">
            <mat-icon>attach_file</mat-icon>
            Upload
            
        </button>


    </div>
</div>