<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">
        <div class="gap-2" fxLayout="column" fxLayoutAlign="center
            center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
            <div class="float-left font-bold text-2xl">
                <div>
                    Utilisateurs
                </div>
            </div>
            <div class="w-full">
                <mat-form-field appearance="fill" floatLabel="always" class="w-full">
                    <input matInput placeholder="search" (keyup)="applyFilter($event)" />
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button (click)="addUser()"
                    class="bg-amber-700 hover:bg-amber-700 text-white font-bold px-4 rounded" id="adduserbutton">
                    Ajouter Utilisateur
                </button>
            </div>
        </div>
        <div class="mat-elevation-z8 overflow-x-scroll bg-white">
            <table mat-table matSort  [dataSource]="dataSource" class="tableconfig">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
                    <td class="text-left" mat-cell *matCellDef="let element">{{element.name}}</td>
                </ng-container>
                <ng-container matColumnDef="jobTitle">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Profession</th>
                    <td class="text-left" mat-cell *matCellDef="let element">{{element.jobTitle}}</td>
                </ng-container>
                <ng-container matColumnDef="mail">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Mail</th>
                    <td class="text-left" mat-cell *matCellDef="let element">{{element.mail}}</td>
                </ng-container>
                <ng-container matColumnDef="phoneNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Téléphone</th>
                    <td class="text-left" mat-cell *matCellDef="let element">{{element.phoneNumber}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th class="w-1/6 text-center" mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell class="text-center" *matCellDef="let element">
                        <button title="Modifier">
                            <mat-icon [svgIcon]="'heroicons_solid:user-add'"></mat-icon>
                        </button>
                        <button title="Détails">
                            <mat-icon [svgIcon]="'heroicons_solid:user'"></mat-icon>
                        </button>
                        <button title="Supprimer">
                            <mat-icon [svgIcon]="'heroicons_solid:user-remove'"></mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </div>
</div>