.tableconfiguration1 {
    text-align: center;
    margin: auto;
}
.headtdconfiguration {
    text-align: left;
    font-weight: bold;
}
.foottdconfiguration {
    padding-top: 20px;
}
img {
    text-align: center;
    margin: auto;
}
img:hover {
    background: #9ca3af;
}
figcaption {
    color: #e57d03;
}
.namecolor {
    color: #e57d03;
}
.tdbold {
    font-weight: bold;
}
.separator {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #fc5000; /* old IE */
    background-color: #fc5000; /* Modern Browsers */
}

@media only screen and (max-width: 600px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
}
