
<div class="flex flex-col flex-auto min-w-0" *transloco="let t" fxLayout="column">

    <app-pub></app-pub>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <table style="width: 98%;">
            <tr>
                <td class="headtdconfiguration" colspan="2" >
                    Dashboard
                </td>
            </tr>
            <br>
            <tr>
                <td >
                    {{t('Content de te revoir')}}, Brian {{t('dans votre espace cloud')}} !
                </td>
                <td class="text-right" >
                    Client: {{t('nom entreprise')}}
                </td>
            </tr>
            <tr>
                <td class="text-right" colspan="2">
                    Support: {{t('type de support')}}
                </td>
            </tr>
            <tr>
                <td class="text-right" colspan="2">
                    {{t('Type de contrat')}}: "......"
                </td>
            </tr>
            <tr>
                <td>
                    {{t('Voici les services auquels vous êtes inscrits')}} :
                </td>
                <td class="text-right">
                    {{t('Durée du contrat')}}: "{{t('date début - date fin')}}"
                </td>
            </tr>
        </table>
        <table id="tableconfiguration1" style="width: 98%;">
            <tr>
                <td>
                    <a [href]='vCloudDirectorUrlLogin' target="_blank">
                        <figure>
                            <img class="w-100" src="assets/Multicloud Portal_icons-10.png" alt="Portail d'administration">
                            <figcaption class="font-bold ">{{t("Portail d'administration")}}</figcaption>
                        </figure>
                        <!-- style="margin-right: +48px; margin-top: -70px; margin-bottom: 60px;" -->
                    </a>                   
                </td>
                <td>
                    <a [href]='ManageEngineUrlLogin' target="_blank">
                        <figure>
                            <img class="w-100" src="assets/Multicloud Portal_icons-11.png" alt="Support - Système Ticketing">
                            <figcaption class="font-bold ">{{t('Support - Système Ticketing')}}</figcaption>
                        </figure>
                        <!-- style="margin-top: -70px; margin-bottom: 60px;" -->
                    </a>                    
                </td>
            </tr>
            <tr>
                <td class="foottdconfiguration" colspan="2"></td>
            </tr>
        </table>



    </div>
</div>