<h2>Ajouter un Utilisateur</h2>
<br><br>

<form fxLayout="column" fxLayoutAlign="start" [formGroup]="form">
    <mat-form-field class="w-full" appearance="outline">
        <mat-label>UID* :</mat-label>
        <input matInput type="text" name="employeeID" formControlName="employeeID">
        <mat-error *ngIf="form.controls['employeeID'].hasError('required')">
            UID est <strong>obligatoire</strong>
        </mat-error>
        <mat-error *ngIf="form.controls['employeeID'].hasError('maxlength')">
            UID doit avoir au maximum 10 caractéres
        </mat-error>
    </mat-form-field>
    <br>

    <table class="w-full" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Nom :</mat-label>
                    <input matInput type="text" onkeypress="return /[a-z]/i.test(event.key)" name="last_name"
                        formControlName="last_name" required>
                    <mat-error *ngIf="form.controls['last_name'].hasError('required')">
                        Nom est <strong>obligatoire</strong>
                    </mat-error>
                    <mat-error *ngIf="form.controls['last_name'].hasError('minlength')">
                        Nom doit avoir au minimum 4 caractéres
                    </mat-error>
                    <mat-error *ngIf="form.controls['last_name'].hasError('maxlength')">
                        Nom doit avoir au maximum 8 caractéres
                    </mat-error>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Deuxième nom :</mat-label>
                    <input matInput type="text" onkeypress="return /[a-z]/i.test(event.key)" name="middle_name"
                        formControlName="middle_name">
                    <mat-error *ngIf="form.controls['middle_name'].hasError('minlength')">
                        Deuxième nom doit avoir au minimum 3 caractéres
                    </mat-error>
                    <mat-error *ngIf="form.controls['middle_name'].hasError('maxlength')">
                        Deuxième nom doit avoir au maximum 6 caractéres
                    </mat-error>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Prénom :</mat-label>
                    <input matInput type="text" onkeypress="return /[a-z]/i.test(event.key)" name="first_name"
                        formControlName="first_name" required>
                    <mat-error *ngIf="form.controls['first_name'].hasError('required')">
                        Prénom est <strong>obligatoire</strong>
                    </mat-error>
                    <mat-error *ngIf="form.controls['first_name'].hasError('minlength')">
                        Prénom doit avoir au minimum 4 caractéres
                    </mat-error>
                    <mat-error *ngIf="form.controls['first_name'].hasError('maxlength')">
                        Prénom doit avoir au maximum 10 caractéres
                    </mat-error>
                </mat-form-field>
            </td>
        </tr>
    </table>

    <mat-form-field class="w-full" appearance="outline">
        <mat-label>Nom d'utilisateur :</mat-label>
        <input matInput type="text" name="loginName" formControlName="loginName" required>
        <mat-error *ngIf="form.controls['loginName'].hasError('required')">
            Nom d'utilisateur est <strong>obligatoire</strong>
        </mat-error>
        <mat-error *ngIf="form.controls['loginName'].hasError('minlength')">
            Nom d'utilisateur doit avoir au minimum 4 caractéres
        </mat-error>
        <mat-error *ngIf="form.controls['loginName'].hasError('maxlength')">
            Nom d'utilisateur doit avoir au maximum 10 caractéres
        </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field class="w-full" appearance="outline">
        <mat-label>Mot de passe :</mat-label>
        <input matInput type="password" name="userpassword" formControlName="userpassword" required>
        <mat-error *ngIf="form.controls['userpassword'].hasError('required')">
            Mot de passe est <strong>obligatoire</strong>
        </mat-error>
        <mat-error *ngIf="form.controls['userpassword'].hasError('minlength')">
            Mot de passe doit avoir au minimum 4 caractéres
        </mat-error>
        <mat-error *ngIf="form.controls['userpassword'].hasError('maxlength')">
            Mot de passe doit avoir au maximum 20 caractéres
        </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field class="w-full" appearance="outline">
        <mat-label>Profession :</mat-label>
        <input matInput type="text" name="jobTitle" formControlName="jobTitle" required>
        <mat-error *ngIf="form.controls['jobTitle'].hasError('required')">
            Profession est <strong>obligatoire</strong>
        </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field class="w-full" appearance="outline">
        <mat-label>Mail :</mat-label>
        <input matInput type="email" name="emailid" formControlName="emailid" required>
        <mat-error *ngIf="form.controls['emailid'].hasError('required')">
            Mail est <strong>obligatoire</strong>
        </mat-error>
        <mat-error *ngIf="form.controls['emailid'].hasError('email')">
            Mail doit être valide
        </mat-error>
    </mat-form-field>
    <br>

    <table class="w-full" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Fix :</mat-label>
                    <input type="number" matInput name="phone" formControlName="phone" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required>
                    <mat-error *ngIf="form.controls['phone'].hasError('required')">
                        Fix est <strong>obligatoire</strong>
                    </mat-error>
                    <mat-error *ngIf="form.controls['phone'].hasError('minlength')">
                        Fix doit avoir au minimum 8 chiffres
                    </mat-error>
                    <mat-error *ngIf="form.controls['phone'].hasError('maxlength')">
                        Fix doit avoir au maximum 8 chiffres
                    </mat-error>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>Téléphone :</mat-label>
                    <input type="number" matInput name="mobile" formControlName="mobile" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required>
                    <mat-error *ngIf="form.controls['mobile'].hasError('required')">
                        Téléphone est <strong>obligatoire</strong>
                    </mat-error>
                    <mat-error *ngIf="form.controls['mobile'].hasError('minlength')">
                        Téléphone doit avoir au minimum 8 chiffres
                    </mat-error>
                    <mat-error *ngIf="form.controls['mobile'].hasError('maxlength')">
                        Téléphone doit avoir au maximum 8 chiffres
                    </mat-error>
                </mat-form-field>
            </td>
        </tr>
    </table>

    <mat-form-field class="w-full" appearance="outline">
        <mat-label>Entreprise :</mat-label>
        <input matInput type="text" name="account" formControlName="account" required>
        <mat-error *ngIf="form.controls['account'].hasError('required')">
            Entreprise est <strong>obligatoire</strong>
        </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field class="w-full" appearance="outline">
        <mat-label>Rôle :</mat-label>
        <mat-select name="role" formControlName="role" required>
            <mat-option value="sadmin">SuperAdmin</mat-option>
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="user">User</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['role'].hasError('required')">
            Rôle est <strong>obligatoire</strong>
        </mat-error>
    </mat-form-field>
    <br>
    
    <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="center" fxFlex="100">
        <button mat-raised-button class="text-white font-bold px-4 rounded" color="accent" (click)="save()"
            [disabled]="form.invalid">Enregistrer</button>
        <button class="mat-raised-button bg-red-600 hover:bg-red-600 text-white font-bold px-4 rounded" (click)="close()">Fermer</button>
    </div>
</form>