<div class="flex flex-col min-w-0 " id="color">   
    <mat-drawer-container class="flex-auto h-full">
        <mat-drawer class="dark:bg-gray-900" [mode]="drawerMode" [opened]="drawerOpened" #drawer>
           <app-sidebar></app-sidebar>
        </mat-drawer>
        <mat-drawer-content class="flex flex-col" id="color">
            <div class="flex flex-auto" id="color">
                <router-outlet></router-outlet> 
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
