<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <div>
            <table id="tableconfiguration1" style="width: 98%;">
                <tr>
                    <td class="headtdconfiguration">
                        Administration Back-Office
                    </td>
                </tr>
                <br>
                <tr>
                    <td class="tdpadding">                      
                        <app-clientlist></app-clientlist>
                        <!-- <app-contactlist></app-contactlist> -->
                    </td>
                </tr>
                <br>
                <tr>
                    <td id="tableconfiguration1" style="padding-top: 20px;" colspan="2"></td>
                </tr>
            </table>
        </div>
    </div>
</div>