<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">
        <table class="tableconfiguration1" style="width: 98%;">
            <tr>
                <td class="headtdconfiguration" colspan="2" >
                    Administration
                </td>
            </tr>
            <tr>
                <td>
                    <a [href]='vCloudDirectorUrlLogin' target="_blank">
                        <figure>
                            <img class="w-100" src="assets/Multicloud Portal_icons-10.png" alt="Portail d'administration">
                            <figcaption class="font-bold ">Portail d'administration</figcaption>
                        </figure>
                    </a>                   
                </td>
                <td>
                    <a [href]='ManageEngineUrlLogin' target="_blank">
                        <figure>
                            <img class="w-100" src="assets/Multicloud Portal_icons-11.png" alt="Support - Système Ticketing">
                            <figcaption class="font-bold ">Support - Système Ticketing</figcaption>
                        </figure>                        
                    </a>                    
                </td>
            </tr>
            <tr>
                <td class="foottdconfiguration" colspan="2"></td>
            </tr>
        </table>
    </div>
</div>