<div class="flex flex-col flex-auto min-w-0  w-screen">

    <div>
        <mat-form-field appearance="fill" floatLabel="always" class="w-full">
            <input matInput placeholder="Recherche" (keyup)="applyFilter($event)" />
        </mat-form-field>
    </div>

    <div class="gap-2" fxLayout="column" fxLayoutAlign="center
            center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
        <div class="float-left font-bold text-2xl">
            <div>
                Contrats
            </div>
        </div>
        <div>
            <button mat-raised-button (click)="addContrat()" class="text-white font-bold px-4 rounded" color="accent">
                Ajouter Contrat
            </button>
        </div>
    </div>
    <br>

    <div class="mat-elevation-z8 bg-white">
        <table mat-table matSort [dataSource]="dataSource" class="w-full">

            <ng-container matColumnDef="title">
                <th fxFlex="10" fxLayoutAlign="center center" mat-header-cell *matHeaderCellDef mat-sort-header>Titre</th>
                <td fxFlex="10" fxLayoutAlign="center center" mat-cell *matCellDef="let contract">
                    <div *ngIf="contract.title; else NoData" class="truncate" matTooltip={{contract.title}}>
                        {{contract.title}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="organisation">
                <th fxFlex="10" fxLayoutAlign="center center" mat-header-cell *matHeaderCellDef mat-sort-header>Client
                </th>
                <td fxFlex="10" fxLayoutAlign="center center" mat-cell *matCellDef="let contract">
                    <div *ngIf="contract.client.organisation; else NoData">
                        {{contract.client.organisation}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="commercial">
                <th fxFlex="15" fxLayoutAlign="center center" mat-header-cell *matHeaderCellDef mat-sort-header>Manager
                    Commercial</th>
                <td fxFlex="15" fxLayoutAlign="center center" mat-cell *matCellDef="let contract">
                    <div *ngIf="contract.commercial; else NoData">
                        {{contract.commercial}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th fxFlex="15" fxLayoutAlign="center center" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Description</th>
                <td fxFlex="15" fxLayoutAlign="center center" mat-cell *matCellDef="let contract">
                    <div *ngIf="contract.description; else NoData" class="truncate" matTooltip={{contract.description}}>
                        {{contract.description}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th fxFlex="10" fxLayoutAlign="center center" mat-header-cell *matHeaderCellDef mat-sort-header>Type de
                    Contrat</th>
                <td fxFlex="10" fxLayoutAlign="center center" mat-cell *matCellDef="let contract">
                    <div *ngIf="contract.type; else NoData">
                        {{contract.type}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="startDate">
                <th fxFlex="15" fxLayoutAlign="center center" mat-header-cell *matHeaderCellDef mat-sort-header>Date
                    Début</th>
                <td fxFlex="15" fxLayoutAlign="center center" mat-cell *matCellDef="let contract">
                    <div *ngIf="contract.startDate; else NoData">
                        {{contract.startDate | date}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="endDate">
                <th fxFlex="15" fxLayoutAlign="center center" mat-header-cell *matHeaderCellDef mat-sort-header>Date Fin
                </th>
                <td fxFlex="15" fxLayoutAlign="center center" mat-cell *matCellDef="let contract">
                    <div *ngIf="contract.endDate; else NoData">
                        {{contract.endDate | date}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th fxFlex="10" fxLayoutAlign="center center" mat-header-cell *matHeaderCellDef>Actions</th>
                <td fxFlex="10" fxLayoutAlign="center center" mat-cell class="text-center" *matCellDef="let contract">
                    <button title="Modifier" (click)="editContrat(contract)" [disabled]="!contract.active">
                        <mat-icon aria-label="Edit" class="Edit">edit</mat-icon>
                    </button>
                    <button title="Supprimer" (click)="desactivateContrat(contract)" [disabled]="!contract.active">
                        <mat-icon aria-label="Delete" class="Delete">delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'bg-accent-300': !row.active }">
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>

        <ng-template #NoData>
            <div>
                N/A
            </div>
        </ng-template>
    </div>
</div>