<div class="grid grid-cols-6 place-items-end h-15">
    <p class="contrattittle">Contrats</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <button mat-raised-button (click)="addContrat()"
        class="bg-amber-700 hover:bg-amber-700 text-white font-bold py-2 px-4 rounded" id="addcontratbutton">
        Ajouter Contrat
    </button>
    <!-- <button mat-raised-button [disabled]="!dataSource.length" (click)="removecontrat()"
        class="bg-amber-700 hover:bg-amber-700 text-white font-bold py-2 px-4 rounded" id="removecontratbutton">
        Remove data
    </button> -->
</div>
<br>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table tableconfiguration2">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th class="tableconfiguration2 border-black" mat-header-cell *matHeaderCellDef>Nom</th>
        <td class="tdborder" mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
        <th class="tableconfiguration2 border-black" mat-header-cell *matHeaderCellDef>Type de Contrat</th>
        <td class="tdborder" mat-cell *matCellDef="let element">{{element.type}}</td>
    </ng-container>

    <!-- Durée du Contrat Column -->
    <ng-container matColumnDef="dureeDuContrat">
        <th class="tableconfiguration2 border-black" mat-header-cell *matHeaderCellDef>Durée du Contrat</th>
        <td class="tdborder" mat-cell *matCellDef="let element">{{element.dureeDuContrat}}</td>
    </ng-container>

    <!-- Commercial Column -->
    <ng-container matColumnDef="commercial">
        <th class="tableconfiguration2 border-black" mat-header-cell *matHeaderCellDef>Commercial</th>
        <td class="tdborder" mat-cell *matCellDef="let element">{{element.commercial}}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th class="tableconfiguration2 border-black" mat-header-cell *matHeaderCellDef>Actions</th>
        <td class="tdborder" mat-cell *matCellDef="let element">
            <button>test</button>
            <button>aaaaaa</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
