.tableconfig {
    width: 100%;
    border-spacing: 40px 5px;
    border-collapse: separate;
}
#addcontratbutton {
    border: 1px solid black;
}
#removecontratbutton {
    border: 1px solid black;
}
.mat-paginator {
    display: flex;
    justify-content: flex-end;
}
