#tableconfiguration1 {
    text-align: center;
    margin: auto;
}
.tableconfiguration2 {
    text-align: center;
    margin: auto;
}
.headtdconfiguration {
    text-align: left;
    font-weight: bold;
}
.informationtd {
    text-align: left;
    padding-left: 10px;
}
.usertitle {
    font-weight: bold;
    font-size: large;
}
#adduserbutton {
    border: 1px solid black;
}
#removeuserbutton {
    border: 1px solid black;
}
.demo-table {
    width: 100%;
}
.demo-button-container {
    padding-bottom: 16px;
}
.demo-button + .demo-button {
    margin-left: 8px;
}
.tdpadding {
    padding-left: 1%;
    padding-right: 1%;
}
#tdfullborder {
    margin-right: 1%;
    margin-left: 1%;
}
#divconfiguration {
    padding-bottom: 5%;
}
.mat-paginator {
    display: flex;
    justify-content: flex-end;
}
