<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <!-- <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl"> -->
        <div>
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="VMWare">
                    <div>
                        <quill-editor [modules]="editorModules" (onEditorChanged)="changedEditorVMWare($event)"></quill-editor>
                    </div>
                    <p [innerHTML]="iaasVMWareText"></p>
                    <div class="grid grid-cols-4 place-items-end h-15">
                        <input type="button">
                        <input type="button">
                        <input class="bg-amber-700 hover:bg-amber-700 text-white font-bold py-2 px-4 rounded" id="nouveaubutton" type="button" value="Commander un nouveau service">
                        <input class="bg-amber-700 hover:bg-amber-700 text-white font-bold py-2 px-4 rounded" id="modifierbutton" type="button" value="Modifier une commande">
                    </div>                  
                    <!-- *La plateforme IAAS : Datacenter virtuel*<br>
                    vCloud Director, le moteur de notre offre Cloud Premium<br>
                    VMware vCloud Director vous offre les avantages suivants :<br>
                    VMware Cloud sous forme de service : bénéficiez de services Cloud clés en mains, notamment du Software-Defined Data Center 
                    complet de VMware fourni sous forme de service par un fournisseur VMware Cloud Provider de confiance.<br>
                    Ressources VMware Cloud faciles à provisionner et à consommer : utilisez un point d’accès unique pour tous vos DataCenters 
                    virtuels via une UI intuitive reposant sur HTML5. Profitez du provisionnement et de la consommation aisée et en 
                    libre-service des services Cloud, y compris des services tiers, via une console unique.<br>
                    Migration facile des charges de travail entre les Data Centers virtuels : le réseau cross-VDC facilite les migrations 
                    entre Data Centers virtuels.<br>
                    Transition rapide vers des services hybrides : vCloud Director offre un environnement de Cloud complet, en libre-service 
                    et moderne que les entreprises connaissent et auquel elles font confiance pour bénéficier d’une expérience à part 
                    entière du Cloud privé ou public, avec une souplesse à la demande, une intégration simplifiée et des opérations de 
                    Cloud hybride.<br> -->
                </mat-tab>
                <mat-tab label="HyperV">
                    <div>
                        <quill-editor [modules]="editorModules" (onEditorChanged)="changedEditorHyperV($event)"></quill-editor>
                    </div>
                    <p [innerHTML]="iaasHyperVText"></p>
                    <div class="grid grid-cols-4 place-items-end h-15">
                        <input type="button">
                        <input type="button">
                        <input class="bg-amber-700 hover:bg-amber-700 text-white font-bold py-2 px-4 rounded" id="nouveaubutton" type="button" value="Commander un nouveau service">
                        <input class="bg-amber-700 hover:bg-amber-700 text-white font-bold py-2 px-4 rounded" id="modifierbutton" type="button" value="Modifier une commande">
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>